<div class="search">
  <form>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        name="type"
        [(ngModel)]="type"
        (keyup)="filter($event)"
      />
    </mat-form-field>

    <button
      *ngIf="userType === 'seller'"
      mat-raised-button
      color="accent"
      (click)="add()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </form>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
    <td mat-cell *matCellDef="let element">{{ element.group }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        *ngIf="userType === 'seller'"
        mat-raised-button
        color="primary"
        (click)="edit(element)"
      >
        <mat-icon> border_color</mat-icon>
      </button>
      <button
        *ngIf="userType === 'seller'"
        mat-raised-button
        color="warn"
        (click)="delete(element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="userType === 'customer'"
        mat-raised-button
        color="accent"
        (click)="buy(element)"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
